{% extends "base.html" %}
{% load static %}


{% block title %}
  My Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'blog/images/evgeniy.jpeg' %}" alt="Evgeniy - The Author Of This Blog">
      <h2>EVGENIY BLOG</h2>
      <p>Hi, I am Evgeniy and i love to blog about tech and the world!</p>
    </header>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
      {% include 'blog/includes/post.html' %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>I love programming, I love to help others and I enjoy</p>
    <p>My goal is to keep on growing as a developer</p>
  </section>
{% endblock %}